{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Done</th>
        <th></th>
        {% for todo in todos %}
            <tr style="{{ 'text-decoration: line-through;' if todo.completed else '' }}">
                <td>{{ todo.id }}</td>
                <td>{{ todo.username }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_toggle', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-blue"><span class="glyphicon glyphicon-{{ 'check' if todo.completed else 'unchecked' }} glyphicon-white"></span></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    <div class="container row">
        <ul class="pagination">
        {% if pagination.page > 1 %}
            <li><a href="{{ url_for('todo_list', page=(pagination.page - 1)) }}">&laquo;</a></li>
        {% endif %}
        {%- for page in range(1, pagination.total + 1) %}
            {% if page != pagination.page %}
                <li><a href="{{ url_for('todo_list', page=page) }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% endif %}
        {%- endfor %}
        {% if pagination.page < pagination.total %}
            <li><a href="{{ url_for('todo_list', page=(pagination.page + 1)) }}">&raquo;</a></li>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}